h2, #filters p {
  flex: 0 0 100%;
  text-align: center;
}

#filters, #items {
  width: 100%;
  display: flex;
  adjust-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

#ha-filter-min {
  padding-right: 10px;
}

#items {
  margin-top: 20px;
}

#acc-data, #data button {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

#acc-data {
  height: 250px;
}